body{
    padding-top: 40px;
}
.container{
    max-width: 80%;
}
.subheader{
    margin-top: -8px;
    color: darkgray;
    font-size: 14px;
}
.list > li{
    font-size: 16px;
}
.infos h2{
    font-size: 22px;
}
.fineprintinline{
    font-size: 11px;
    vertical-align: text-top;
    color: #C8C8C8;
}
.fineprint{
    margin-top: 5px;
    font-size: 11px;
    color: #C8C8C8;
}
.buttons{
    margin-top: 25px;
}
.subicons{
    margin-top: 20px;
}
.footer{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 12px;
}