.headertitle{
	cursor: pointer;
}
td{
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
.center-block {
	float: none !important
	margin: 0 auto;
}
.middletext{
	text-align: center;
}
.cpucanvas{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	align-content: center;
	margin-top: -40px;
}
canvas {
        max-width: 100%;
}
.cpu{
	height: auto;
}
.cpupercent{
	font-size: 22px;
}
footer{
	font-size: 11px;
	margin-top: 20px;
}