.headertitle{
	cursor: pointer;
}
.page-header{
	padding-top: 40px;
	padding-bottom: 40px;
}
#reloadbtn, #savesettingsbtn{
	margin-right: 10px;
}
td{
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
.middletext{
	text-align: center;
}
.cpucanvas{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	align-content: center;
	margin-top: -20px;
}
canvas {
        max-width: 100%;
}
.cpu{
	height: auto;
}
.cpupercent{
	font-size: 22px;
}
footer{
	font-size: 11px;
	margin-top: 20px;
	bottom: 0;
	left: 0;
	position: static;
	width: 100%;
}
#errorNotice{
	cursor: pointer;
}